---
import logo from "../assets/animal.svg";
---

<header>
	<div class="text-section">
		<h3>Make it <span>simple</span> with FullLite.</h3>
		<span>A powerful template for your new project.</span><br />
		<a href="https://crobf.substack.com/">Subscribe</a>
	</div>
	<div class="image-section">
		<img src={logo.src} alt="FullLite Logo" />
	</div>
</header>

<main>
	<p>
		<strong>Ready to build awesome web apps without the hassle?</strong> FullLite
		is your new best friend. It's a super simple template that lets you create
		cool stuff quickly. Think of it as a starter kit with all the good stuff
		already set up: Express.js on the backend, React on the frontend, and even
		database connections!
	</p>

	<h3>Why choose FullLite?</h3>
	<ul>
		<li><strong>It's easy:</strong> Get started in minutes, not hours.</li>
		<li>
			<strong>It's super flexible:</strong> Customize it to match your style.
		</li>
		<li>
			<strong>It's got your back:</strong> With built-in features like authentication.
		</li>
	</ul>

	<h3>What can you do with it?</h3>
	<ul>
		<li>
			<strong>Build a blog:</strong> Share your thoughts with the world.
		</li>
		<li><strong>Create a portfolio:</strong> Showcase your projects.</li>
		<li>
			<strong>Make a simple e-commerce store:</strong> Sell your stuff online.
		</li>
		<li>...and more! The sky's the limit!</li>
	</ul>

	<h3>Want to be a part of it?</h3>
	<p>
		We're still building Full Lte, but you can join us! <a
			href="https://crobf.substack.com/">Let us know your email</a
		> so we can keep you updated and be among the firsts to know when it's ready.
		<a href="https://cafecito.app/crobf" rel="noopener" target="_blank"
			>Support our development</a
		> and help us bring FullLite to life faster.
	</p>
</main>

<style lang="scss">
	* {
		font-family: "Poppins", serif;
	}

	body {
		margin-bottom: 20vh !important;
		background-color: #333;
		color: rgb(224, 224, 224);
	}

	header {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding: 10vh 10vw 10vh 10vw;
		flex-wrap: wrap;

		@media screen and (width < 920px) {
			flex-direction: column-reverse;
			text-align: center;
		}

		a {
			color: rgb(224, 224, 224);
			background-color: rgba(32, 108, 221, 0.9);
			padding: 0.7rem 2rem;
			display: inline-block;
			margin-top: 1rem;
			border-radius: 8px;
			font-weight: bold;
			transition: 300ms all;
			text-decoration: none;

			&:hover {
				background-color: rgba(81, 151, 255, 0.9);
				text-decoration: underline;
			}
		}

		div {
			width: fit-content !important;

			&:first-child {
				max-width: 500px;
			}

			&:last-child {
				max-width: 200px;
			}

			h3 {
				font-weight: 700;
				font-size: 3rem;
				margin: 0;
				padding: 0;
				margin-bottom: 1.5rem;
				width: fit-content;

				span {
					color: rgba(32, 108, 221, 0.9);
					font-size: 1em;
				}
			}

			img {
				width: 100%;

				&:hover {
					transition: 1s all;
					transform: scale(1.05);
				}
			}

			span {
				font-size: 1.2rem;
				color: rgb(218, 218, 218);
				width: fit-content;
				text-wrap: balance;
			}
		}
	}

	main {
		max-width: 40vw;
		margin: 0 auto;
		line-height: 2rem;

		@media screen and (width < 900px) {
			max-width: 80vw;
		}

		@media screen and (900px < width < 1000px) {
			max-width: 60vw;
		}

		strong {
			color: rgba(32, 108, 221, 0.9);
		}

		a {
			font-size: 1.2rem;
			color: rgba(32, 108, 221, 0.9);
			font-weight: bold;
			text-decoration: none;
			padding: 0;
			border-bottom: solid 2px rgba(32, 108, 221, 0.9);
		}

		p {
			font-size: 1.2rem;
		}

		h3 {
			font-size: 1.5rem;
		}
	}
</style>
